﻿@model Orbus.AdventureWorks.DataAccess.Entity.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    
    <table>
        <tr>
            <td style="text-align: left">
                @Html.LabelFor(Item => Item.Key)
                @Html.TextBoxFor(Item => Item.Key)
            </td>
            <td style="text-align: left">
                @Html.LabelFor(Item => Item.Name)
                @Html.TextBoxFor(Item => Item.Name)
            </td>
        </tr>
        <tr>

            <td style="text-align: left">
                @Html.LabelFor(Item => Item.Price)
                @Html.TextBoxFor(Item => Item.Price)
            </td>
            <td style="text-align: left">
                @Html.LabelFor(Item => Item.StockLevel)
                @Html.TextBoxFor(Item => Item.StockLevel)
            </td>
        </tr>
        <tr>

            <td style="text-align: left">
                @Html.LabelFor(Item => Item.ProductSubcategoryId)
                @Html.TextBoxFor(Item => Item.ProductSubcategoryId)
            </td>

        </tr>
        <tr>
            <td>
                <input type="submit" name="Create" value="Save" />
            </td>

        </tr>
    </table>
}