﻿@model Orbus.AdventureWorks.DataAccess.Entity.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
<table>
    <tr>
        <td>
            @Html.LabelFor(m=>m.Key)
            @Html.TextBoxFor(m=>m.Key)
            @Html.HiddenFor(m=>m.Key)
        </td>
         <td>
            @Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name)
            @Html.HiddenFor(m=>m.Name)
        </td>
         <td>
            @Html.LabelFor(m=>m.Price)
            @Html.TextBoxFor(m=>m.Price)
            @Html.HiddenFor(m=>m.Price)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.StockLevel)
            @Html.TextBoxFor(m=>m.StockLevel)
            @Html.HiddenFor(m=>m.StockLevel)
        </td>
         <td>
            @Html.LabelFor(m=>m.ProductSubcategoryId)
            @Html.TextBoxFor(m=>m.ProductSubcategoryId)
            @Html.HiddenFor(m=>m.ProductSubcategoryId)
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit", name="Save" value="Save"/>
            @Html.HiddenFor(m=>m.Id)
        </td>

    </tr>

</table>
}