﻿@model List<Orbus.AdventureWorks.DataAccess.Entity.Product>

@{
    ViewBag.Title = "Products Page";
}

<h2>Products Page</h2>

@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
<div>
   <p>Search Options</p>
    <table>
        <tr>
            <td colspan="2">
                @Html.Label("ProductCategory")
            </td>
 
            <td colspan="2">
                @Html.Label("ProductSubcategory")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.DropDownList("Id", (SelectList)ViewBag.ProductCategory, new { onchange="submit()"})
            </td>
            <td >
                @Html.DropDownList("Key", (SelectList)ViewBag.ProductSubcategory, new { onchange="submit()"})
            </td>
        </tr>
    </table>
     <input type="submit" value="Search" hidden="true"/>
</div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => Model[0].Id)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => Model[0].Key)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => Model[0].Name)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => Model[0].Price)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => Model[0].StockLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockLevel)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id}, new {onclick="return confirm('You wish to delete this record?');" })
        </td>
    </tr>
}

</table>
